*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/.idea
/app/build
/app/app.iml
/base/build
/base/base.iml
/captures
.externalNativeBuild
