<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hykj.base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- android P 9.0适配问题-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".view.activity.PickerImageActivity"
            android:theme="@style/translucent" />
        <activity android:name=".base.RichTextWebViewActivity" />
        <activity android:name=".base.BaseWebViewActivity" />
    </application>

</manifest>