<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hykj.base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application android:networkSecurityConfig="@xml/network_security_config">
        <!-- android P 9.0适配问题-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".view.activity.PickerImageActivity"
            android:theme="@style/translucent" />
        <activity android:name=".base.RichTextWebViewActivity" />
        <activity android:name=".base.BaseWebViewActivity" />
        <activity android:name=".view.activity.PreviewImgActivity"/>

        <!-- 注册更新服务 -->
        <service android:name=".service.UpdateService"/>
    </application>

</manifest>