<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hykj.base">

    <application>
        <activity
            android:name=".view.activity.PickerImageActivity"
            android:theme="@style/translucent" />

    </application>

</manifest>